/********** common setting **********/
h2 {
    font-size: 2.8rem !important;
    font-weight: 700;
}

img {
    display: block;
    max-width: 100%;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 22px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #00FFAD;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #00e69c;
}

.cta-blue {
    background: #192440;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #121a2e;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}


  

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 300px;
}

/********** feature (skew background) **********/
.feature img {
    width: 700px !important;
    max-width: 2000px !important;
}

#feature-first {
    background: linear-gradient(168deg, #ffffff 55%, #90cc42 0);
}

#feature-last {
    background: #90cc42;
}

#feature-last .col-md-6.flex-md-last {
    margin-left: auto;
    padding-right: 0;
    text-align: right;
}

#feature-last .container {
    padding-right: 15px; /* Adjust or remove if necessary */
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #90cc42;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #90cc42;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #90cc42;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
    }
}

.carousel-control-prev, .carousel-control-next {
    background-color:#182036;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;  /* Adjust the width as needed */
}
.carousel-control-prev-icon{
    color: brown !important;
}

/* .row{
    display:flex;
    align-items: center;

} */

.card {
    width: 18rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    height: 150px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-text {
    max-height: 50px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease-in-out;
}

.card-text:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5em;
    background: linear-gradient(to top, white, transparent);
}

.card:hover .card-text {
    max-height: 150px;
}

.see-more-link {
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.card:hover .see-more-link::before {
    content: "See less"; /* Change to "See less" when expanded */
}

.card:hover .card-text:before {
    display: none; /* Hide the gradient when expanded */
}

/* Optionally hide the link entirely when hovered if not needed */
.card:hover .see-more-link {
    display: none;
}

